<div ng-controller="MBran.Components.TargetDocTypes">
    <ul class="unstyled">
        <li ng-repeat="docType in renderAsDocTypes">
            <label class="checkbox">
                <input type="checkbox" value="{{docType.Value}}" name="targetDocTypes[]"
                       ng-checked="isTargetDocType(docType.Value)" 
                       ng-click="toggleTargetSelect(docType.Value)"/> {{docType.Name}}
            </label>
        </li>
    </ul>
    <input type="hidden" ng-model="model.value" name="targetDocTypes" />
</div>

