@using MBran.Components.Test.Pocos
@model TextAndMedia

<div class="text-media-left">
    <h2>This component is overriden at the page level</h2>
    <div class="text-media-left">
        <h3>@Model.TextMediaTitle</h3>
        <div class="description">@Model.TextMediaSummary</div>
        <img src="@Model.TextMediaImage.Url" />
    </div>
</div>