@inherits UmbracoViewPage<GenericPage>

<div class="page-components">
    <h2>More about being Aussie</h2>
    @if (Model.Components != null)
    {
        foreach (var component in Model.Components)
        {
            @Html.Component(component)
        }
    }
    
</div>