@using MBran.Components.Test.Controllers
@inherits UmbracoViewPage<Home>


<div class="page-components">
    @(Html.Module<TestController>())
    <h2>Territories</h2>
    @Html.Component(Model.Components)
</div>