@model IEnumerable<IPublishedContent>

@foreach (var content in Model)
{
    <div>This is a controller rendering with doctype: @content.DocumentTypeAlias = @content.Id</div>

    <div>
        <h3>this is a custom module view</h3>

    </div>
}
