<div ng-controller="MBran.Modules.AllowedDocTypes">
    <ul class="unstyled">
        <li ng-repeat="docType in docTypes">
            <label class="checkbox">
                <input type="checkbox" value="{{docType.Value}}" name="allowedDocTypes[]"
                       ng-checked="isAllowedDocType(docType.Value)" 
                       ng-click="toggleSelect(docType.Value)"/> {{docType.Name}}
            </label>
        </li>
    </ul>
    <input type="hidden" ng-model="model.value" name="allowedDocTypes" />
</div>

