<div ng-controller="MBran.Modules.Listing">
    <ul class="unstyled">
        <li ng-repeat="module in moduleListingOptions">
            <label class="checkbox">
                <input type="checkbox" value="{{module.Value}}" name="targetDocTypes[]"
                       ng-checked="isModuleSelected(module.Value)"
                       ng-click="toggleModuleSelect(module.Value)" /> {{module.Name}}
            </label>
        </li>
    </ul>
    <input type="hidden" ng-model="model.value" name="targetDocTypes" />
</div>

