<div ng-controller="MBran.Modules.PickerController">
    <div class="mbran-components-picker">
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <label class="control-label" for="module-selector">Select module</label>
                <select id="module-selector" name="module-selector"
                        class="umb-editor umb-textstring textstring ng-pristine ng-valid ng-valid-required"
                        ng-options="option.name for option in moduleListing track by option.value"
                        ng-model="model.value.module"></select>
                <div class="controls">
                    <small class="ng-binding">{{ model.value.module.description }}</small>    
                </div>
                
            </div>
        </div>
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <label class="control-label">Module sources</label>
                <div class="controls"
                     ui-sortable="sortableOptions"
                     ng-model="model.value.sources">
                    <div ng-repeat="item in model.value.sources">
                        <umb-node-preview icon="item.icon"
                                          name="item.name"
                                          sortable="true"
                                          allow-remove="true"
                                          on-remove="remove($index)">
                        </umb-node-preview>
                    </div>
                </div>
                <div class="controls">
                    <a class="umb-node-preview-add"
                       href="#"
                       ng-click="selectPages()"
                       prevent-default>
                        Add source
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>