<div ng-controller="MBran.Components.PickerController">
    <div class="mbran-components-picker">
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <label class="control-label" for="component-selector">Select component</label>
                <select id="component-selector" name="component-selector"
                        class="umb-editor umb-textstring textstring ng-pristine ng-valid ng-valid-required"
                        ng-options="option.name for option in targetDocTypes track by option.value"
                        ng-model="model.value.component"></select>    
            </div>
            
        </div>
        <div class="umb-property" ng-show="renderOptions.length > 0">
            <div class="control-group umb-control-group">
                <label class="control-label" for="component-selector">Render option</label>
                <select id="component-render" name="component-render"
                        class="umb-editor umb-textstring textstring ng-pristine ng-valid ng-valid-required"
                        ng-options="option.name for option in renderOptions track by option.value"
                        ng-model="model.value.renderOption"></select>    
            </div>
        </div>
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <label class="control-label" for="component-datasource">Select Datasource</label>
                <div class="controls"
                     id="component-datasource" name="component-datasource"
                     ui-sortable="sortableOptions"
                     ng-model="model.value.sources">
                    <div ng-repeat="item in model.value.sources">
                        <umb-node-preview icon="item.icon"
                                          name="item.name"
                                          sortable="true"
                                          allow-remove="true"
                                          on-remove="remove($index)">
                        </umb-node-preview>
                    </div>
                </div>
                <div class="controls">
                    <a class="umb-node-preview-add"
                       href="#"
                       ng-click="selectPages()"
                       prevent-default>
                        Add Sources
                    </a>
                </div>
            </div>
            
            
            
        </div>
       
    </div>
</div>